# PostgreSQL database settings
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=db-name
DB_USER=db-user
DB_PASSWORD=db-password
DB_HOST=postgres
DB_PORT=5432

# Django settings
DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,*
DJANGO_CSRF_TRUSTED_ORIGINS=

# Demo webpage settings
DEMO_USER_EMAIL=demo@email.com
DEMO_USER_PASSWORD=password
