[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
ruff = "*"
black = "*"
djlint = "*"

[packages]
django = "==4.2.6"
django-allauth = "==0.57.0"
django-crispy-forms = "==2.1"
django-filter = "==23.3"
django-htmx = "==1.17.0"
django-tables2 = "==2.6.0"
django-widget-tweaks = "==1.5.0"
whitenoise = "==6.6.0"

[requires]
python_version = "3"
