{% extends "_base.html" %}


{% block main_content %}
    <div class="container pb-5">
        <h1>New listing</h1>
        <p>Add</p>
        <form id="login-form" method="post">{% csrf_token %}

            {% include 'includes/form.html' with form=form  %}

            <div class="mt-2 mt-md-3 d-flex justify-content-between">
                <a class="btn btn-outline-danger" href="{% url 'my_listings' %}">Cancel</a> 
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </form>
    </div>
{% endblock %}